In [2]:
import pandas as pd
import geopandas as gpd

In [82]:
# df = pd.read_csv("/home/donggyu/RegionalEstimationLLM/data/label/nama_10r_3gdp_page_spreadsheet.csv")
# df = pd.read_csv("/home/donggyu/RegionalEstimationLLM/data/label/cz.csv")
df = pd.read_excel("/home/donggyu/RegionalEstimationLLM/data/label/demo_r_pjangrp3_page_spreadsheet (3).xlsx", sheet_name=2)
area_dict = pd.read_pickle("/home/donggyu/RegionalEstimationLLM/data/proxy/SVK_loc.pickle")

/home/donggyu/anaconda3/envs/rellm2/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:241: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [83]:
df = df.iloc[10:]
df.columns =['code','area_name', 'population']
df = df.dropna()
df

     code             area_name population
10  SK010     Bratislavský kraj     659598
11  SK021         Trnavský kraj     563591
12  SK022      Trenčiansky kraj     585882
13  SK023       Nitriansky kraj     676672
14  SK031         Žilinský kraj     691368
15  SK032  Banskobystrický kraj     647874
16  SK041        Prešovský kraj     825022
17  SK042          Košický kraj     800414

In [84]:
# df['OBS_VALUE'] = df['OBS_VALUE'].apply(lambda x: float(x))
df['population'] = df['population'].apply(lambda x: float(x))

In [85]:
df

     code             area_name  population
10  SK010     Bratislavský kraj    659598.0
11  SK021         Trnavský kraj    563591.0
12  SK022      Trenčiansky kraj    585882.0
13  SK023       Nitriansky kraj    676672.0
14  SK031         Žilinský kraj    691368.0
15  SK032  Banskobystrický kraj    647874.0
16  SK041        Prešovský kraj    825022.0
17  SK042          Košický kraj    800414.0

In [86]:
area_dict

{'1': {'ADM0': 'SVK',
  'ADM1': 'Bratislavský',
  'ADM2': 'Bratislavský',
  'adm1_id': 0,
  'repr_loc': (48.317420487012775, 17.179070932104846),
  'weight': 2051.6705215409615,
  'neighbor': ['2'],
  'adm1_neighbor': [1],
  'adm2_in_adm1_neighbor': ['2', '3', '4']},
 '2': {'ADM0': 'SVK',
  'ADM1': 'Western Slovakia',
  'ADM2': 'Trnavský',
  'adm1_id': 1,
  'repr_loc': (48.35302120507454, 17.53484284255391),
  'weight': 4145.347988680622,
  'neighbor': ['1', '3', '4'],
  'adm1_neighbor': [0, 2],
  'adm2_in_adm1_neighbor': ['1', '5', '6']},
 '3': {'ADM0': 'SVK',
  'ADM1': 'Western Slovakia',
  'ADM2': 'Trenčiansky',
  'adm1_id': 1,
  'repr_loc': (48.858499559911294, 18.21338687984706),
  'weight': 4501.801246963847,
  'neighbor': ['2', '4', '5', '6'],
  'adm1_neighbor': [0, 2],
  'adm2_in_adm1_neighbor': ['1', '5', '6']},
 '4': {'ADM0': 'SVK',
  'ADM1': 'Western Slovakia',
  'ADM2': 'Nitriansky',
  'adm1_id': 1,
  'repr_loc': (48.141937628379345, 18.310875932973637),
  'weight': 6342.47971161915,
  'neighbor': ['2', '3', '6'],
  'adm1_neighbor': [0, 2],
  'adm2_in_adm1_neighbor': ['1', '5', '6']},
 '5': {'ADM0': 'SVK',
  'ADM1': 'Central Slovakia',
  'ADM2': 'Žilinský',
  'adm1_id': 2,
  'repr_loc': (49.17752475299301, 19.177324440577124),
  'weight': 6806.885667565641,
  'neighbor': ['3', '6', '7'],
  'adm1_neighbor': [1, 3],
  'adm2_in_adm1_neighbor': ['2', '3', '4', '7', '8']},
 '6': {'ADM0': 'SVK',
  'ADM1': 'Central Slovakia',
  'ADM2': 'Banskobystrický',
  'adm1_id': 2,
  'repr_loc': (48.515729970207836, 19.50392588843478),
  'weight': 9454.461850004274,
  'neighbor': ['3', '4', '5', '7', '8'],
  'adm1_neighbor': [1, 3],
  'adm2_in_adm1_neighbor': ['2', '3', '4', '7', '8']},
 '7': {'ADM0': 'SVK',
  'ADM1': 'Eastern Slovakia',
  'ADM2': 'Prešovský',
  'adm1_id': 3,
  'repr_loc': (49.123646879408106, 21.224599435979922),
  'weight': 8971.61110470565,
  'neighbor': ['5', '6', '8'],
  'adm1_neighbor': [2],
  'adm2_in_adm1_neighbor': ['5', '6']},
 '8': {'ADM0': 'SVK',
  'ADM1': 'Eastern Slovakia',
  'ADM2': 'Košický',
  'adm1_id': 3,
  'repr_loc': (48.69737915934716, 21.266244152116094),
  'weight': 6751.920537591051,
  'neighbor': ['6', '7'],
  'adm1_neighbor': [2],
  'adm2_in_adm1_neighbor': ['5', '6']}}

In [87]:
df['area_name'] = df['area_name'].apply(lambda x: x.replace(' kraj', ''))

In [88]:
# for k,v in area_dict.items():
#     df.loc[df['geo'] == k, 'area_name'] =v['ADM2']
for k,v in area_dict.items():
    df.loc[df['area_name']== v['ADM2'], 'area_id'] =k
df

     code        area_name  population area_id
10  SK010     Bratislavský    659598.0       1
11  SK021         Trnavský    563591.0       2
12  SK022      Trenčiansky    585882.0       3
13  SK023       Nitriansky    676672.0       4
14  SK031         Žilinský    691368.0       5
15  SK032  Banskobystrický    647874.0       6
16  SK041        Prešovský    825022.0       7
17  SK042          Košický    800414.0       8

In [89]:
df = df[['area_name', 'population', 'area_id']]

In [90]:
df

          area_name  population area_id
10     Bratislavský    659598.0       1
11         Trnavský    563591.0       2
12      Trenčiansky    585882.0       3
13       Nitriansky    676672.0       4
14         Žilinský    691368.0       5
15  Banskobystrický    647874.0       6
16        Prešovský    825022.0       7
17          Košický    800414.0       8

In [91]:
df.to_csv("/home/donggyu/RegionalEstimationLLM/data/label/SVK_population.csv",index=False)