In [2]:
import pandas as pd

In [2]:
raw_df = pd.read_csv("/home/donggyu/RegionalEstimationLLM/data/label/GRDP_시_군_구__20241119195356.csv")
original_df = pd.read_csv("/home/donggyu/RegionalEstimationLLM/data/label/KOR_GRDP.csv")

In [16]:
raw_df = raw_df.drop(0)

In [17]:
raw_df

,행정구역별(1),행정구역별(2),2016,2016.1,2018,2018.1,2021,2021.1
1,서울특별시,소계,387364432,380679274,423742112,403605888,472040199,431678812
2,서울특별시,종로구,30190706,29843813,31868698,30424283,35719537,32961063
3,서울특별시,중구,52623501,52473429,54274488,52384539,61342710,58648964
4,서울특별시,용산구,10457073,10221764,12300317,11664441,13294640,12265442
5,서울특별시,성동구,10662221,10372266,11657151,11038914,13999893,12745979
...,...,...,...,...,...,...,...,...
240,경상남도,거창군,1506123,1495732,1582053,1501885,1645349,1490226
241,경상남도,합천군,1043389,1042516,1120522,1062860,1183426,1072107
242,제주특별자치도,소계,18719373,18307842,20051121,18968300,20187503,18173026
243,제주특별자치도,제주시,13463552,13158966,14343720,13664991,14681431,13321338
244,제주특별자치도,서귀포시,5255821,5148876,5707401,5306797,5506072,4861208

In [18]:
raw_df = raw_df[raw_df['행정구역별(2)'] != '소계']

In [19]:
raw_df = raw_df.reset_index(drop=True)

In [20]:
raw_df

,행정구역별(1),행정구역별(2),2016,2016.1,2018,2018.1,2021,2021.1
0,서울특별시,종로구,30190706,29843813,31868698,30424283,35719537,32961063
1,서울특별시,중구,52623501,52473429,54274488,52384539,61342710,58648964
2,서울특별시,용산구,10457073,10221764,12300317,11664441,13294640,12265442
3,서울특별시,성동구,10662221,10372266,11657151,11038914,13999893,12745979
4,서울특별시,광진구,6097219,5954740,6342279,6018697,6554954,6005449
...,...,...,...,...,...,...,...,...
223,경상남도,함양군,951994,949581,1012785,957481,1082102,976924
224,경상남도,거창군,1506123,1495732,1582053,1501885,1645349,1490226
225,경상남도,합천군,1043389,1042516,1120522,1062860,1183426,1072107
226,제주특별자치도,제주시,13463552,13158966,14343720,13664991,14681431,13321338
227,제주특별자치도,서귀포시,5255821,5148876,5707401,5306797,5506072,4861208

In [21]:
raw_df.loc[73]

행정구역별(1)       울산광역시
행정구역별(2)         울주군
2016        19320196
2016.1      19084806
2018        18464057
2018.1      18288719
2021        22876447
2021.1      19469950
Name: 73, dtype: object

In [22]:
new_row = pd.DataFrame({'행정구역별(1)':'x','행정구역별(2)':'x','2016':9979343,'2016.1':1,'2018':11101861,'2018.1':1,'2021':13971642,'2021.1':1}, index=[73.5])

In [23]:
raw_df = pd.concat([raw_df.iloc[:73],new_row, raw_df.iloc[73:]])

In [24]:
raw_df = raw_df.sort_index().reset_index(drop=True)

In [25]:
raw_df.loc[74]

행정구역별(1)           x
행정구역별(2)           x
2016         9979343
2016.1             1
2018        11101861
2018.1             1
2021        13971642
2021.1             1
Name: 74, dtype: object

In [26]:
a2016 = original_df.copy()
a2016['GRDP'] = round((raw_df['2016']).astype(int)/1000, 1)
a2018 = original_df.copy()
a2018['GRDP'] = round((raw_df['2018']).astype(int)/1000, 1)
a2021 = original_df.copy()
a2021['GRDP'] = round((raw_df['2021']).astype(int)/1000, 1)

In [4]:
a2016.to_csv("/home/donggyu/RegionalEstimationLLM/data/label/KOR_GRDP_2016.csv",index=False)
a2018.to_csv("/home/donggyu/RegionalEstimationLLM/data/label/KOR_GRDP_2018.csv",index=False)
a2021.to_csv("/home/donggyu/RegionalEstimationLLM/data/label/KOR_GRDP_2021.csv",index=False)

NameError: name 'a2016' is not defined

In [29]:
a2016['area_id'] = a2016['area_id'].astype(str) +"_2016"
a2018['area_id'] = a2018['area_id'].astype(str) +"_2018"
a2021['area_id'] = a2021['area_id'].astype(str) +"_2021"

In [30]:
df = pd.concat([a2016,a2018,a2021])
df = df.reset_index(drop=True)
df

        area_id     area_name     GRDP
0    11110_2016     Jongno-gu  30190.7
1    11140_2016       Jung-gu  52623.5
2    11170_2016    Yongsan-gu  10457.1
3    11200_2016  Seongdong-gu  10662.2
4    11215_2016   Gwangjin-gu   6097.2
..          ...           ...      ...
682  48870_2021   Hamyang-gun   1082.1
683  48880_2021  Geochang-gun   1645.3
684  48890_2021  Hapcheon-gun   1183.4
685  50110_2021       Jeju-si  14681.4
686  50130_2021   Seogwipo-si   5506.1

[687 rows x 3 columns]

In [31]:
df.to_csv("/home/donggyu/RegionalEstimationLLM/data/label/KOR_GRDP_2016_2018_2021.csv", index=False)

# Paragraph - 다른년도 area_id 뒤에 연도 붙여서 제작 후 통합

In [3]:
# df2016 = pd.read_csv("/home/donggyu/RegionalEstimationLLM/KOR_overall_adm2_paragraph_output_18966.csv")
# df2018 = pd.read_csv("/home/donggyu/RegionalEstimationLLM/KOR_overall_adm2_paragraph_output_10768.csv")
# df2021 = pd.read_csv("/home/donggyu/RegionalEstimationLLM/KOR_overall_adm2_paragraph_output_9812.csv")
df2022 = pd.read_csv("/home/donggyu/RegionalEstimationLLM/PRK_24cities_overall_adm2_paragraph_output_202210_adm2_added.csv")
df2023 = pd.read_csv("/home/donggyu/RegionalEstimationLLM/PRK_24cities_overall_adm2_paragraph_output_202310_adm2_added.csv")
df2024 = pd.read_csv("/home/donggyu/RegionalEstimationLLM/PRK_24cities_overall_adm2_paragraph_output_202410_adm2_added.csv")

In [4]:
# df2016['area_id'] = df2016['area_id'].astype(str) +"_2016"
# df2018['area_id'] = df2018['area_id'].astype(str) +"_2018"
# df2021['area_id'] = df2021['area_id'].astype(str) +"_2021"
df2022['area_id'] = df2022['area_id'].astype(str) +"_2022"
df2023['area_id'] = df2023['area_id'].astype(str) +"_2023"
df2024['area_id'] = df2024['area_id'].astype(str) +"_2024"

In [5]:
df2024 =df2024.iloc[:-4]
df2023 =df2023.iloc[:-4]
df2024

       area_id                                               desc
0    3005_2024  full address of the given location is Chigyong...
1    3011_2024  full address of the given location is Geumya-g...
2   10019_2024  full address of the given location is Seongche...
3   10020_2024  full address of the given location is Sukcheon...
4   10013_2024  full address of the given location is Ch'ongjo...
5    7006_2024  full address of the given location is Icheon-g...
6    7008_2024  full address of the given location is Gosan-gu...
7    9009_2024  full address of the given location is Gujang-g...
8    9010_2024  full address of the given location is Guseong-...
9    9023_2024  full address of the given location is Unsan-gu...
10   1016_2024  full address of the given location is Dongsin-...
11   1017_2024  full address of the given location is Wusi-gun...
12   5003_2024  full address of the given location is Sainei, ...
13   5018_2024  full address of the given location is Euncheon...
14   4015_2024  full address of the given location is Eunpa-gu...
15   4017_2024  full address of the given location is Yeontan-...
16   2007_2024  full address of the given location is Gyeongse...
17   2011_2024  full address of the given location is Eorang-g...
18  13004_2024  full address of the given location is Kimhyong...
19   6001_2024  full address of the given location is Jangpung...

In [7]:
# merged_df = pd.concat([df2016,df2018,df2021])
merged_df = pd.concat([df2022,df2023,df2024])

In [8]:
merged_df.reset_index(inplace=True,drop=True)
merged_df

       area_id                                               desc
0    3005_2022  full address of the given location is Chigyong...
1    3011_2022  full address of the given location is Geumya-g...
2   10019_2022  full address of the given location is Seongche...
3   10020_2022  full address of the given location is Sukcheon...
4   10013_2022  full address of the given location is Ch'ongjo...
..         ...                                                ...
59   4017_2024  full address of the given location is Yeontan-...
60   2007_2024  full address of the given location is Gyeongse...
61   2011_2024  full address of the given location is Eorang-g...
62  13004_2024  full address of the given location is Kimhyong...
63   6001_2024  full address of the given location is Jangpung...

[64 rows x 2 columns]

In [9]:
# merged_df.to_csv("/home/donggyu/RegionalEstimationLLM/KOR_overall_adm2_paragraph_output_merged_3years.csv",index=False)
merged_df.to_csv("/home/donggyu/RegionalEstimationLLM/PRK_overall_adm2_paragraph_output_merged_3years_adm2_added.csv",index=False)

# Label 통합